# yaml-language-server: $schema=https://raw.githubusercontent.com/Arthur1/dpr/main/dprcconfig.schema.json

region: ap-northeast-1
package-store:
  s3-bucket-name: dpr-example
tag-db:
  dynamodb-table-name: dpr-example
